<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<nav style="margin-left:1px;padding-left:2em;background-color:lightgray;">

<a routerLink="/login">Login</a>
<a routerLink="/insert">insert</a>
<a routerLink="/display">display</a>
<a routerLink="/gallery">gallery</a>
<a routerLink="/product">Product<span class="badge badge-secondary">{{prodsrv.CartCount}}</span></a>

<font style="float:right;" class="mr-5">{{authServ.currentUserName}}</font>
<button class="btn btn-daner" (click)="authServ.logout()" >logout</button>
</nav>
<!-- <table  border='1' align="center" width='70%' *ngIf='emps.length > 0'>
  <tbody>
  <tr *ngFor='let b of emps'>
    <td> {{b.id}} </td>
    <td> {{b.telephone }} </td>
    <td> {{b.firstName }} </td>
    <td> {{b.lastName}} </td>
    <td> {{b.city}} </td>
    <td> {{b.address}} </td>
	 </tr>
  </tbody>
</table> -->
<!-- <app-gallery></app-gallery>
 -->
  <router-outlet></router-outlet>
 <!-- <app-recfrm> </app-recfrm>  
 -
  <app-update></app-update>
 <!--
 <app-delete>
</app-delete>-->