<div class="row"  >

<div class="col-md-4 list-group">
<li class="list-group-item list-group-item-action">
	<img src="{{prod.productImageUrl}}" height="250" width="100%"  style="padding:1rem;">
</li>
<li class="list-group-item list-group-item-action">
	<table width="100%">
	<tr><td><b>product Price</b></td><td class="text-right">&#8377; {{prod.productPrice}}</td></tr>
	</table>
</li>
<li class="list-group-item list-group-item-action">
	<table width="100%">
	<tr><td><b>Product Vendor</b></td><td class="text-right">{{prod.productSeller}}</td></tr>
	</table>
</li>
</div>

<div class="col-md-8">
<table class="table">
	<tr>
		<td><b>Name</b></td>
		<td >{{prod.productName}}</td>
	</tr>
	<tr>
		<td><b>Description</b></td>
		<td >{{prod.productDescription}}</td>
	</tr>
	<tr>
		<td><b>Category</b></td>
		<td >{{prod.productCategory}}</td>
	</tr>
	<tr>
		<td><b>Avaliable Quantity</b></td>
		<td >{{prod.productQuatity}}</td>
	</tr>
	<tr>
		<td>
		<button (click)="addToCart(prod)" class="btn btn-primary">Add to Cart
			<i class="fas fa-cart-plus"></i>
		</button>
		</td>
		<td >
			<a [routerLink]="['/product/product-list' ]" class="btn btn-primary">Continue<i class="fas fa-cart-plus"></i></a>
			<!-- <span > {{prod.ratings}}<i class="fas fa-star"></i></span> -->
		</td>
		
	</tr>

</table>
